header{
    color: rgb(50, 70, 71);
}
.imgLogo{
   width: 100px;
    height: auto; 
}

.w100{
    width: 100%;float: left;
}
.w50{
    width: 50%;float: left;
}

.bgAzul{
    background-color: cadetblue;
}